apiVersion: v1
kind: Service
metadata:
  name: fingerprint-api
  namespace: fingerprint
  labels:
    app: fingerprint-api
  annotations:
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"

spec:
  type: ClusterIP
  
  selector:
    app: fingerprint-api
  
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  
  sessionAffinity: None
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
