apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fingerprint-api

bases:
  - ../../base

namePrefix: ap-southeast-1-
nameSuffix: ""

commonLabels:
  region: ap-southeast-1
  environment: production
  tier: tertiary

commonAnnotations:
  deployment.fingerprint/region: "ap-southeast-1"
  deployment.fingerprint/primary: "false"

patchesStrategicMerge:
  - deployment.yaml

configMapGenerator:
  - name: region-config
    literals:
      - REGION=ap-southeast-1
      - PRIMARY_REGION=false
      - TIMEZONE=Asia/Singapore
      - CLUSTER_SIZE=small
      - MAX_REPLICAS=10

replicas:
  - name: fingerprint-api
    count: 2

images:
  - name: fingerprint-api
    newTag: "latest"
