apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fingerprint-api

bases:
  - ../../base

namePrefix: eu-west-1-
nameSuffix: ""

commonLabels:
  region: eu-west-1
  environment: production
  tier: secondary

commonAnnotations:
  deployment.fingerprint/region: "eu-west-1"
  deployment.fingerprint/primary: "false"

patchesStrategicMerge:
  - deployment.yaml

configMapGenerator:
  - name: region-config
    literals:
      - REGION=eu-west-1
      - PRIMARY_REGION=false
      - TIMEZONE=Europe/London
      - CLUSTER_SIZE=medium
      - MAX_REPLICAS=15

replicas:
  - name: fingerprint-api
    count: 3

images:
  - name: fingerprint-api
    newTag: "latest"
