apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fingerprint-api-hpa

spec:
  minReplicas: 5
  maxReplicas: 20
  
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
    
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
